<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Spring Boot Thymeleaf App</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
  <script src="https://cdn.jsdelivr.net/webjars/stomp-websocket/2.3.4/stomp.min.js"></script>
  <script>
    var stompClient = null;

    function connect() {
      var socket = new SockJS('/websocket');
      stompClient = Stomp.over(socket);
      stompClient.connect({}, function (frame) {
        console.log('Connected: ' + frame);
        var userId = 'test';
        stompClient.subscribe('/user/' + userId + '/queue/file-progress', function (message) {
          showMessage(JSON.parse(message.body));
        });
      });
    }

    function showMessage({
        fileId,
        current,
        total
    }) {
      var div = document.createElement('div');
      div.appendChild(document.createTextNode(`File ${fileId} progress: ${current}/${total}`));
      document.getElementById('messageContainer').appendChild(div);
    }

    connect();
  </script>
</head>
<body>
<h1>Welcome to My App</h1>
<div id="messageContainer"></div>
</body>
</html>